<h1>Welcome, <%= current_user.username  %>!</h1>

<h3>Which issues matter to you?</h3>

<div class="user-issues d-flex flex-wrap">
  <% @user_opinions.each do |user_opinion| %>
    <div data-user-opinion-id="<%= user_opinion.id %>" class="mt-5 mb-5">
      <% if user_opinion.is_interested_in %>
        <%= link_to user_opinions_toggle_path(user_opinion), method: 'patch', remote: true, class: "button-answer mx-3 selected" do %>
          <%= user_opinion.issue.name %>
        <% end %>
      <% else %>
        <%= link_to user_opinions_toggle_path(user_opinion), method: 'patch', remote: true, class: "button-answer mx-3" do %>
          <%= user_opinion.issue.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="quizz-div">
  <h4><%= link_to "Go to the quiz!", quizz_path, class: "btn btn-primary btn-lg" %></h4>
</div>

<div class="party-stands-div">
  <%= link_to "Find out where your party stands", parties_path %>
</div>




<script src="" type="text/javascript"></script>

